body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: gray;

}
.list{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: darkblue;
}
.box-model{
    padding: 10px;
  border: 2px solid rgb(221, 12, 221);
  box-shadow: 0 0 5px rgba(0, 255, 68, 0.5);
  background-color: darkmagenta;
    text-align: center;
    
}
.video{
    margin: 0 auto;
    width: 560px;
    height: 315px;
}
.jazzwebsite{
    display: flex;
  justify-content: center;
  align-items: center;
}

  
  .jazzpic img {
    display: block;
    margin: 0 auto;
    border: 10px solid magenta; 
    border-radius: 5px;
  }
  .linkposition{
    text-align: center;
  }
  .headerstyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    text-align: center;
  }